# This is the Docker Compose file for Production environment backend services

volumes:
  production_postgres_data: {}
  production_postgres_data_backups: {}
  production_traefik: {}

  production_redis_data: {}

services:
  django: &django
    build:
      context: .
      dockerfile: ./compose/production/django/Dockerfile

    image: ${PROJECT_NAME:?PROJECT_NAME must be set}_django:${BACKEND_TAG:?BACKEND_TAG must be set}
    restart: unless-stopped

    networks:
      - edge
      - internal
    depends_on:
      - postgres
      - redis
    env_file:
      - ./.envs/.production/.django
      - ./.envs/.production/.postgres
    command: /start
    labels:
      - traefik.enable=${BACKEND_PUBLIC_INGRESS_ENABLED:-false}
      - traefik.http.routers.${PROJECT_NAME:?PROJECT_NAME must be set}-backend.rule=Host(`${BACKEND_DOMAIN:-api.${PROJECT_DOMAIN:?PROJECT_DOMAIN must be set}}`) || Host(`www.${BACKEND_DOMAIN:-api.${PROJECT_DOMAIN:?PROJECT_DOMAIN must be set}}`)
      - traefik.http.routers.${PROJECT_NAME:?PROJECT_NAME must be set}-backend.entrypoints=websecure
      - traefik.http.routers.${PROJECT_NAME:?PROJECT_NAME must be set}-backend.tls.certresolver=letsencrypt

      # Traefik forwarding to django service on port 8000 inside the container
      - traefik.http.services.${PROJECT_NAME:?PROJECT_NAME must be set}-backend.loadbalancer.server.port=8000

      # Traffic must know which network to use to reach this service in case of multiple networks
      - traefik.docker.network=edge

  postgres:
    build:
      context: .
      dockerfile: ./compose/production/postgres/Dockerfile
    image: ${PROJECT_NAME:?PROJECT_NAME must be set}_postgres
    restart: unless-stopped
    networks:
      - internal
    volumes:
      - production_postgres_data:/var/lib/postgresql/18/docker
      - production_postgres_data_backups:/backups
    env_file:
      - ./.envs/.production/.postgres

  redis:
    image: docker.io/redis:7.2
    restart: unless-stopped
    networks:
      - internal

    volumes:
      - production_redis_data:/data

  celeryworker:
    <<: *django
    image: ${PROJECT_NAME:?PROJECT_NAME must be set}_celeryworker
    command: /start-celeryworker

  celerybeat:
    <<: *django
    image: ${PROJECT_NAME:?PROJECT_NAME must be set}_celerybeat
    command: /start-celerybeat

  flower:
    <<: *django
    image: ${PROJECT_NAME:?PROJECT_NAME must be set}_flower
    command: /start-flower

  awscli:
    build:
      context: .
      dockerfile: ./compose/production/aws/Dockerfile
    env_file:
      - ./.envs/.production/.django
    volumes:
      - production_postgres_data_backups:/backups:z
