# This is the Docker Compose file for local development of the backend services

networks:

  # Shared internal network for backend services
  internal_${PROJECT_NAME:?PROJECT_NAME must be set}:
    external: true # because defined in top level compose file

volumes:
  backend_local_postgres_data: {}
  backend_local_postgres_data_backups: {}
  backend_local_redis_data: {}

services:
  django: &django
    build:
      context: .
      dockerfile: ./compose/local/django/Dockerfile
    image: backend_local_django
    container_name: backend_local_django
    depends_on:
      - postgres
      - redis
      - mailpit
    volumes:
      - /app/.venv
      - .:/app:z
    env_file:
      - ./.envs/.local/.django
      - ./.envs/.local/.postgres
    ports:
      - '8000:8000'
    networks:
      - internal_${PROJECT_NAME:?PROJECT_NAME must be set}
    command: /start

  postgres:
    build:
      context: .
      dockerfile: ./compose/production/postgres/Dockerfile
    image: backend_production_postgres
    container_name: backend_local_postgres
    networks:
      - internal_${PROJECT_NAME:?PROJECT_NAME must be set}
    volumes:
      - backend_local_postgres_data:/var/lib/postgresql/18/docker
      - backend_local_postgres_data_backups:/backups
    env_file:
      - ./.envs/.local/.postgres

  mailpit:
    image: docker.io/axllent/mailpit:latest
    container_name: backend_local_mailpit
    networks:
      - internal_${PROJECT_NAME:?PROJECT_NAME must be set}
    ports:
      - "8025:8025"

  redis:
    image: docker.io/redis:7.2
    container_name: backend_local_redis
    networks:
      - internal_${PROJECT_NAME:?PROJECT_NAME must be set}
    volumes:
      - backend_local_redis_data:/data

  celeryworker:
    <<: *django
    image: backend_local_celeryworker
    container_name: backend_local_celeryworker
    depends_on:
      - redis
      - postgres
      - mailpit
    ports: []
    command: /start-celeryworker

  celerybeat:
    <<: *django
    image: backend_local_celerybeat
    container_name: backend_local_celerybeat
    depends_on:
      - redis
      - postgres
      - mailpit
    ports: []
    command: /start-celerybeat

  flower:
    <<: *django
    image: backend_local_flower
    container_name: backend_local_flower
    ports:
      - '5555:5555'
    command: /start-flower
